<h1>Employees</h1>
<div>
    <table *ngIf="currentEmployees && currentEmployees.length>0">  
        <thead>  
            <tr>  
                <th>ID</th>  
                <th>Full name</th>   
                <th>Job</th>  
                <th>Salary</th>  
            </tr>  
        </thead>  
        <tbody>  
            <tr *ngFor="let employee of currentEmployees">  
                <td>{{ employee.id }}</td>  
                <td>{{ employee.name + " " + employee.surname }}</td>  
                <td>{{ employee.job }}</td>  
                <td>{{ employee.salary | currency }} </td>
                <td><button title="delete" (click)="delete(employee)">x</button></td>
            </tr>  
        </tbody>  
    </table>
</div>
<div><h3>Add a new employee: </h3></div>
<div>
    <label>Name: 
        <input #name />
    </label>
    <label>Surname: 
        <input #surname />
    </label>
    <label>Job: 
        <input #job />
    </label>
    <label>Salary: 
        <input #salary />
    </label>
    <button (click)="add(name.value, surname.value, job.value, salary.value); name.value=surname.value=job.value=salary.value=''">
        add
    </button>
    <h4>Or you can update an existing one by including their ID: </h4>
    <label>ID: 
        <input #id />
    </label>
    <button (click)="update(id.value, name.value, surname.value, job.value, salary.value); id.value=name.value=surname.value=job.value=salary.value=''">
        update
    </button>
</div>

<router-outlet></router-outlet>