<h1>Employees</h1>
<!-- <div><button id="btnGetEmployees" onclick="getEmployees()">Get all employees</button></div>
<div>
    <h3>Get a single employee by ID:</h3>
    <input type="text" id="employeeId" name="getEmployee">
    <button id="btnGetEmployeeById" onclick="getEmployeeById()">Find</button>
</div>
<pre id="preOutput"></pre>
<div>
    <h3>Insert a new employee:</h3>
    <label for="id">ID: </label>
    <input type="text" id="id" name="id">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name">
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname">
    <label for="job">Job: </label>
    <input type="text" id="job" name="job">
    <label for="salary">Salary: </label>
    <input type="text" id="salary" name="salary">
    <label for="methods">Do you want to add a new employee, or update an existing one?</label>
    <select name="methods" id="methods">
        <option value="post">POST (add)</option>
        <option value="put">PUT (update)</option>
    </select>
    <button id="btnSubmitEmployee" onclick="submitEmployee()">Submit</button>
</div>
<div>
    <h3>Remove an employee by ID:</h3>
    <input type="text" id="deleteEmployee" name="deleteEmployee">
    <button id="btnDeleteEmployeeById" onclick="deleteEmployee()">Remove</button>
</div> -->

<div *ngIf="currentEmployees && currentEmployees.length>0">
    <ul>
        <li *ngFor="let employee of currentEmployees">
            id: {{employee.id}}
            name: {{employee.name}}
            surname: {{employee.surname}}
            job: {{employee.job}}
            salary: {{employee.salary | currency}}
        </li>
    </ul>
</div>

<router-outlet></router-outlet>